.header {
  background-color: brown;
  display: flex;
  padding: 0 20px;
}

.logo {
  width: 49%;
  align-self: center;

  font-weight: bold;
  font-size: 30px;
  color: white;
}

.lista {
  display: flex;
  width: 50%;
  justify-content: space-around;
  list-style: none;

  font-size: 20px;
}

.lk {
  text-decoration: none;
  color: white;
}

.lk:hover {
  color: rgb(197, 193, 193);
}
